.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 9999;
}
.navbar .left{
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar .left span{
    font-weight: bold;
    font-size: 18px;
    color: darkblue;
}
.navbar .left .search{
    display: flex;
    align-items: center;
    gap: 1px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
}

.navbar .left .search input{
    border: none;
    width: 500px;
}
.navbar .right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}
.user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width : 480px) {
    .navbar .left .search input{
       display: none;
    }
    .navbar .right{
        display: none;
    }
}